<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.example.caps2" >

	

	<application
		android:allowBackup="true"
		android:theme="@style/AppTheme"
		android:label="@string/app_name" >
		<activity
		android:name=".home___pulled_tab_activity"
		android:configChanges="orientation|keyboardHidden|screenSize"
		android:label="@string/app_name"
		android:exported="true"  >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

			<activity android:name="com.example.caps2.homecaps_activity"></activity>
			<activity android:name="com.example.caps2.resources___main_page___top_page_activity"></activity>
			<activity android:name="com.example.caps2.resources___main_page___bottom_page_activity"></activity>
			<activity android:name="com.example.caps2.home___up_activity"></activity>
			<activity android:name="com.example.caps2.home___down_activity"></activity>
			<activity android:name="com.example.caps2.yoga_resources_activity"></activity>
			<activity android:name="com.example.caps2.yoga_resources___list_activity"></activity>
			<activity android:name="com.example.caps2.book_appointment___dr__manda_gatto_activity"></activity>
			<activity android:name="com.example.caps2.book_appointment___kiara_johnson_activity"></activity>
			<activity android:name="com.example.caps2.book_appointment___options_activity"></activity>
			<activity android:name="com.example.caps2.book_appointment___inperson_activity"></activity>
			<activity android:name="com.example.caps2.book_appointment___zoom_activity"></activity>
			<activity android:name="com.example.caps2.medical_screeing___q1_activity"></activity>
			<activity android:name="com.example.caps2.preference_q1_activity"></activity>
			<activity android:name="com.example.caps2.preference_q1___selected_activity"></activity>
			<activity android:name="com.example.caps2.preference_q3_activity"></activity>
			<activity android:name="com.example.caps2.preference_q3___selected_activity"></activity>
			<activity android:name="com.example.caps2.preference_q4___selected_activity"></activity>
			<activity android:name="com.example.caps2.preference_q4_activity"></activity>
			<activity android:name="com.example.caps2.preference_q2_activity"></activity>
			<activity android:name="com.example.caps2.medical_screeing___q1_selected_response_activity"></activity>
			<activity android:name="com.example.caps2.medical_screeing___q2_activity"></activity>
			<activity android:name="com.example.caps2.medical_screeing___q2_selected_response_activity"></activity>
			<activity android:name="com.example.caps2.medical_screeing___q3_activity"></activity>
			<activity android:name="com.example.caps2.medical_screeing___q3_selected_response_activity"></activity>
			<activity android:name="com.example.caps2.medical_screeing___q4_activity"></activity>
			<activity android:name="com.example.caps2.medical_screeing___q4_selected_response_activity"></activity>
			<activity android:name="com.example.caps2.results_pending__activity"></activity>
			<activity android:name="com.example.caps2.results_activity"></activity>
			<activity android:name="com.example.caps2.end___view_resouces_activity"></activity>
			<activity android:name="com.example.caps2.available_services_with_your_preference_activity"></activity>
			<activity android:name="com.example.caps2.begin_appointment_booking_activity"></activity>
			<activity android:name="com.example.caps2.end_appointment_booking_activity"></activity>
			<activity android:name="com.example.caps2.medical_screening__activity"></activity>
	</application>

</manifest>
	
	