<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.example.ruokfinal" >

	

	<application
		android:allowBackup="true"
		android:theme="@style/AppTheme"
		android:label="@string/app_name" >
		<activity
		android:name=".home_activity"
		android:configChanges="orientation|keyboardHidden|screenSize"
		android:label="@string/app_name"
		android:exported="true"  >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

			<activity android:name="com.example.ruokfinal.appointments_activity"></activity>
			<activity android:name="com.example.ruokfinal.journal_activity"></activity>
			<activity android:name="com.example.ruokfinal.events_activity"></activity>
			<activity android:name="com.example.ruokfinal.gt_times_activity"></activity>
			<activity android:name="com.example.ruokfinal.lt_times_activity"></activity>
			<activity android:name="com.example.ruokfinal.resources___main_page___top_page_activity"></activity>
			<activity android:name="com.example.ruokfinal.group_therapy_activity"></activity>
			<activity android:name="com.example.ruokfinal.workshops_activity"></activity>
			<activity android:name="com.example.ruokfinal.outreach_activity"></activity>
			<activity android:name="com.example.ruokfinal.let_s_talk_activity"></activity>
	</application>

</manifest>
	
	